.add-ele {
    text-decoration: none !important;
    display: block;
    padding: .8rem 1rem;
}

.form-add .form_list_items {
    top: 10px;
    display: block;
    flex: 1;
    justify-self: flex-start;
}

.form-add .list-group-item {
    padding: unset;
    border: unset;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.form-add .list-group-item a:hover {
    background-color: #EFEFFF;
}

.form-add h5 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.form_container {
    padding: 6px 3px;
}

.quest_ele {
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.3rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, .5);
}

.imgThumb {
    width: 200px;
    margin: 10px 10px 0;
    cursor: pointer;
}