* {
    margin: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    text-decoration: none;
    font-family: Raleway, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
}

html,
body {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    font-family: Raleway, sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}



select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

body {
    min-height: 100vh;
}

h1.header-w3ls {
    padding: 31px 0px 25px;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #212529;
}

.form-group {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.form-mid-w3ls {
    flex-basis: 48%;
    -webkit-flex-basis: 48%;
}

.main_container, .main-bothside{
    width: 75%;
    padding: 2em 2em 2em;
    margin: 0em auto;
}

.main-bothside {    
    width: 100%;
    border-radius: 5px;    
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    background: #fff;
}

.personal-info p,
label.form-check-label,
.form-control-w3l p,
.form-mid-w3ls p {
    font-size: 15px;
    color: #212529;
    padding-bottom: 5px;
}

.personal-info p,
.form-control-w3l p,
.form-mid-w3ls p {
    font-weight: 500;
}

.form-check {
    display: inline-block;
}

.personal-info {
    padding-top: 30px;
}

.form-check:nth-child(2),
.form-check:nth-child(3) {
    margin-right: 9px;
}

.form-mid-w3ls input[type="text"],
.form-mid-w3ls input[type="email"],
.form-control-w3l textarea {
    outline: none;
    width: 100%;
    color: #212529;
    font-size: 14px;
    padding: .8em .8em;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    display: inline-block;
    background: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

.form-control-w3l textarea {
    height: 8em;
    overflow: hidden;
    resize: none;
}

.form-control-w3l {
    margin: 24px 0px;
}

::-webkit-input-placeholder {
    color: #212529;
}

::-moz-placeholder {
    color: #212529;
}

:-ms-input-placeholder {
    color: #212529;
}

:-moz-placeholder {
    color: #212529;
}

.copy{    
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.copy span {
    margin: 0em;
    font-size: 14px;
    color: #FFF;    
}
/* 
.copy span {
    margin: 0em;
    text-align: center;
    font-size: 14px;
    color: #888;    
}

.copy span a {
    color: #212529;
    text-decoration: none;
}

.copy span a:hover {
    color: #555;
} */

.footer_logo{
    width: 250px;
}
.header_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header_content span{
    color:#FFF;
    font-weight: bold;
    display: flex;
    flex-direction: column;    
}

@media(max-width:1920px) {
    h1.header-w3ls {
        font-size: 40px;
    }
}

@media(max-width:1440px) {
    .main_container{
        width: 75%;
    }
    
}

@media(max-width:1366px) {
    .form-control-w3l textarea {
        height: 7em;
    }
}

@media(max-width:1280px) {
    h1.header-w3ls {
        font-size: 30px;
    }
    .main_container {
        width: 75%;
    }
}

@media(max-width:1080px) {
    .main_container {
        width: 75%;
    }
    .copy {
        padding: 30px 0px;
    }
    h1.header-w3ls {
        padding: 25px 0px 22px;
    }
}

@media(max-width:1050px) {
    .personal-info {
        padding-top: 27px;
    }
    .main_container {
        width: 80%;
    }
}

@media(max-width:1024px) {
    .main_container {
        width: 80%;
    }
    .personal-info p,
    label.form-check-label,
    .form-control-w3l p,
    .form-mid-w3ls p {
        padding-bottom: 13px;
    }
}

@media(max-width:991px) {
    .main_container {
        padding: 1.8em 1.8em 1.8em;
        width: 80%;
    }
    .copy p {
        font-size: 16px;
    }

    .header_content{
        flex-direction: column;
    }

    .header_content{
        flex-direction: column;
        justify-content: center;
    }

    .header_content>span{
        align-items: center !important;
        text-align: center;
    }

    .main_container {
        width: 80%;
    }
}

@media(max-width:900px) {
    h1.header-w3ls {
        font-size: 25px;        
    }
    .main_container {
        width: 80%;
    }
    .personal-info {
        padding-top: 23px;
    }
}

@media(max-width:800px) {
    h1.header-w3ls {
        padding: 20px 0px 21px;
    }    

    .copy{
        flex-direction: column;
        align-items: center;
    }

    .copy span{
        margin: 10px 0;
    }
}

@media(max-width:768px) {
    .main_container {
        width: 80%;
    }
    .form-mid-w3ls input[type="text"],
    .form-mid-w3ls input[type="email"],
    .form-control-w3l textarea {
        padding: .7em .8em;
    }
    h1.header-w3ls {
        font-size: 25px;
    }
}

@media(max-width:767px) {
    .copy p {
        font-size: 15px;
    }
    .copy {
        padding: 25px 0px;
    }
}

@media(max-width:736px) {
    .personal-info {
        padding-top: 20px;
    }
}

@media(max-width:667px) {
    .personal-info p,
    label.form-check-label,
    .form-control-w3l p,
    .form-mid-w3ls p {
        padding-bottom: 11px;
    }
    .form-control-w3l {
        margin: 21px 0px;
    }
}

@media(max-width:640px) {
    .copy p {
        font-size: 14px;
    }
    .main_container {
        width: 80%;
    }
    h1.header-w3ls {
        font-size: 23px;
    }
}

@media(max-width:600px) {
    .main_container {
        padding: 1.4em 1.4em 1.4em;
    }
    .form-control-w3l textarea {
        height: 6em;
    }    
}

@media(max-width:568px) {
    .main_container {
        width: 95%;
    }
    .personal-info p,
    label.form-check-label,
    .form-control-w3l p,
    .form-mid-w3ls p {
        font-size: 14px;
    }
}

@media(max-width:480px) {
    h1.header-w3ls {
        font-size: 20px;
    }
    .personal-info p,
    .form-control-w3l p {
        padding-bottom: 11px;
    }
    .main_container {
        width: 98%;
    }
}

@media(max-width:440px) {
    .form-group {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .form-mid-w3ls:nth-child(2) {
        margin-top: 17px;
    }
}

@media(max-width:414px) {
    .form-mid-w3ls input[type="text"],
    .form-mid-w3ls input[type="email"],
    .form-control-w3l textarea {
        padding: .6em .8em;
    }
    h1.header-w3ls {
        font-size: 34px;
    }
    .personal-info {
        padding-top: 17px;
    }
}

@media(max-width:384px) {
    .personal-info p,
    .form-control-w3l p {
        padding-bottom: 8px;
    }    
    .form-control-w3l {
        margin: 17px 0px;
    }
}

@media(max-width:375px) {
    h1.header-w3ls {
        font-size: 30px;
    }
    .main_container {
        padding: 1.2em 1.2em 1.2em;
    }
}

@media(max-width:320px) {
    h1.header-w3ls {
        font-size: 27px;
    }
    .form-check {
        display: block;
    }
    .form-check:nth-child(2),
    .form-check:nth-child(3) {
        margin-right: 0px;
        margin-bottom: 6px;
    }
}


.btn-primary{
    color: #fff !important;
    background-color: #0050a5 !important;
    border-color: #00458f !important;
}